{% extends 'base.html' %}
{% block content %}
<div class="category-page glass-card container">
    <h1 data-i18n="cat_bac">Examens Officiels (BAC I & II)</h1>
    <p>Années : 2000 à 2026</p>
    <div class="epreuves-list">
        <div class="epreuve-item glass-card">
            <div class="epreuve-info">
                <h3>Mathématiques - BAC II - 2023</h3>
                <span class="tag">Série D</span>
            </div>
            <a href="/epreuve/1" class="btn-solid">
             Consulter   
            </a>
        </div>
    </div>
</div>
{% endblock %}
